@{
    for (int i = 0; i < ViewBag.productos.Count; i++) 
    {
        <p class="card-text">@ViewBag.productos[i].Nombre</p>
        <p class="card-text">@ViewBag.productos[i].Descripcion</p>
        <p class="card-text"><strong>Precio:</strong> $@ViewBag.productos[i].Precio</p>
        <p class="card-text"><strong>Stock:</strong> @ViewBag.productos[i].Stock</p>
    }

}