@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    decimal total = 0;

    for (int i = 0; i < ViewBag.Carritoo.Count; i++)
    {
        total += ViewBag.Carritoo[i].Producto.Precio;

     <div class="mb-2">
    
        <p>

        @ViewBag.Carritoo[i].Producto.Nombre
        — $@ViewBag.Carritoo[i].Producto.Precio

         </p>

            <img src="@ViewBag.Carritoo[i].Producto.Imagen"
                 alt="img"
                 style="width:60px; height:60px; object-fit:cover; border-radius:6px;" />

    </div>
    
       

}

    <hr />

    <h4>Total: $@total</h4>
}


<form asp-action="Comprar" method="post">
    <button type="submit" class="btn btn-primary">Comprar</button>
</form>

@TempData["Mensaje"]

