@{
    ViewData["Title"] = "Condiciones";
}
<h1>@ViewData["Title"]</h1>

<p>Solamente se puede comprar un pack de remeras de un color por vez.</p>
<p>No se puede acceder al carrito sin iniciar sesión.</p>
