<form action='@Url.Action("LogInPost", "Usuario")' method="post">
    

    Correo:
    <input type="email" name="email" value="" />
    Contraseña:
    <input type="password" name="contrasena" value="" />
    <input type="submit" value="Log In" />





</form>



