<form action='@Url.Action("LogInPost", "Usuario")' method="post">


    Correo:
    <input type="email" name="email" value="" />
    Contraseña:
    <input type="password" name="contrasena" value="" />
    <input type="submit" value="Log In" />



    @if (Sesion.user != null && Sesion.user.ID != 0)
    {
        <form asp-controller="Usuario" asp-action="LogOut" method="post" class="mt-3">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>
    }

</form>