<form action='@Url.Action("RegisterPost", "Usuario")' method="post">
    

    Correo:
    <input type="email" name="email" value="" />
    Contraseña:
    <input type="password" name="contrasena" value="" />
    Teléfono:
    <input type="tel" name="telefono" value="" />
    Nombre:
    <input type="text" name="nombre" value="" />
    <input type="submit" value="Register" />





</form>



